*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) minmax(180px, 1fr);
    column-gap: 10px;
    grid-template-rows: auto auto 1fr 1fr auto;
    row-gap: 10px;
    grid-template-areas: 
    "heade heade heade"
    "nav nav nav"
    "section section aside"
    "article article aside"
    "footer footer footer"
    ;
}
header{
    padding: 20px;
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    grid-area: heade;

}
nav{
    padding: 20px;
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    grid-area: nav;
}
section{
    padding: 20px;
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    grid-area: section;
}
article{
    padding: 20px;
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    grid-area: article;
}
aside{
    padding: 20px;
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    grid-area: aside;
}
footer{
    padding: 20px;
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    grid-area: footer;

}
.btn {
    display: flex;
    align-items: center;
}
a{
  text-decoration: none;
}
.btn button {
    
    background-color: blue;
    border: none;
    color: white;
    border-radius: 8px;

    padding: 12px 18px;
    margin: 0;

    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}