.navbar{
  
  top: 0;
  width: 100%;
  height: 68px;
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(8, 120, 218)
  
    
}
*{
   
    margin: 0px;
    padding: 0px;
   
}
.links{
    display: flex;
    gap: 50px;
}
a{
    color: rgb(10, 10, 10);
    font-size: 20px;
    text-decoration: none;
    
}